.cabecalho {
  background-image: url("/img/1_cabecalho_banner.jpg");
  background-position: center;
  background-size: cover;
  color: var(--primary-text-color);
  margin-bottom: 2rem;
  min-height: 90vh;
  position: relative;
}

.cabecalho__titulo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cabecalho__brand {
  background-color: var(--main-color);
  margin-bottom: 1rem;
  padding: 1rem;
  width: 50%;
}


.cabecalho__navegacao {
    width: 50%;
    gap: 2rem;
    text-transform: uppercase;
  }
  
.cabecalho__navegacao a {
    padding: 2rem;
    color: var(--primary-text-color);
    font-weight: bold;
  }
  