/* Rodapé */
#footer {
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem 5rem;
}

.contact-info {
    width: 30%;
}

.contact-info p {
    margin-bottom: 2rem;
}

.footer-brand {
    margin-bottom: 4rem;
}

.footer-brand h2 {
    background-color: var(--main-color);
    margin-bottom: 1rem;
    padding: 1rem;
}

#footer i {
    font-size: 1rem;
    padding: 0.5rem;
}

#footer a {
    color: var(--primary-text-color);
}

.contact-info p i {
    background-color: transparent;
    padding: 0;
    color: var(--main-color);
}

.social-networks p {
    margin-bottom: 1rem;
}

.networks {
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
}

/* Páginas */
.links-container h4 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.links-container nav {
    display: flex;
    flex-direction: column;
}

.links-container nav a {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--secondary-color);
}

.copyright {
    background-color: var(--main-color);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}