/* Sobre */
#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

#about-text {
  background-image: url(/img/sobre_pattern.jpg);
  background-size: cover;
  background-position: center;
  color: var(--primary-text-color);
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 3rem;
}

#about-text .section-subtitle,
#about-text .section-title {
  color: var(--primary-text-color);
}

#about-text i {
  background-color: transparent;
}

.about-description {
  display: flex;
  align-items: center;
}

.about-description h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about-description p {
  font-size: 1.5rem;
}